@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./variable.scss";

body {
  font-family: $fontFamily;
  color: $slate;
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  background: rgb(148, 160, 190);
  background: linear-gradient(
    180deg,
    rgba(148, 160, 190, 1) 0%,
    rgba(188, 214, 215, 1) 50%,
    rgba(251, 201, 203, 1) 100%
  );
  margin: 0;

  header{

    a{
    text-decoration: none;

    &:visited{
      color: black;
    }
  
    }

    i{
      margin-top: 20px;
      margin-left: 20px;
    }

  }

  main {
    display: flex;
    justify-content: center;

    .container {
      text-align: center;

      .search-button {
        padding: 8px 12px;
        font-family: $fontFamily;
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
        background-color: $searchBtn;
        border: none;
        border-radius: 10px;
        transition: background-color ease-in-out 300ms;

        &:hover {
          background-color: #8d80b0c2;
          transition: background-color ease-in-out 300ms;
        }
      }

      h1 {
        font-size: 40px;
        font-weight: 600;
      }


      select {
        font-family: $fontFamily;
        font-size: 14px;
        margin-top: 15px;
      }

      .delete {
        padding: 5px 8px;
        font-family: $fontFamily;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
        background-color: $deleteBtn;
        border: none;
        border-radius: 10px;
        transition: background-color ease-in-out 300ms;

        &:hover {
          background-color: #f07067be;
          transition: background-color ease-in-out 300ms;
        }
      }
    }

    .app-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 30px;
        font-weight: 500;
        margin-top: -15px;
      }

      .img-container {
        height: 230px;
        position: relative;
        margin-top: 3%;

        .city-img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          border: 3px solid $searchBtn;
         }

         // Effet du demi-cercle
        &::after {
          content: " ";
          border: 2px solid $searchBtn;
          display: block;
          box-sizing: border-box;
          height: 220px;
          width: 220px;
          border-radius: 200px;
          position: absolute;
          top: -8px;
          left: -7px;
          clip-path: circle(190px at right center);
        }
        }
 
      }
    }
    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .day-forecast {
        background: $backgroundForecast;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        min-height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        img {
          width: 3rem;
        }

        .infos {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          // Couleurs des svg
          .droplet {
            filter: brightness(0) saturate(100%) invert(51%) sepia(96%)
              saturate(1098%) hue-rotate(182deg) brightness(87%) contrast(86%);
          }

          .wind {
            filter: brightness(0) saturate(100%) invert(73%) sepia(7%)
              saturate(272%) hue-rotate(202deg) brightness(87%) contrast(93%);
          }
        }

        .humidity,
        .wind-speed {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          gap: 10px;

          img {
            width: 1.2rem;
          }
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
        }

        .temperature {
          display: flex;
          flex-direction: column;
          align-items: center;  
          gap: 5px;

        }

          .min-temperature, .max-temperature{
            font-size: 18px;
            font-weight: 500;
          }

        // Couleurs des svg
        .sun {
          filter: brightness(0) saturate(100%) invert(93%) sepia(35%)
            saturate(493%) hue-rotate(345deg) brightness(105%) contrast(102%);
        }

        .rain {
          filter: brightness(0) saturate(100%) invert(49%) sepia(55%)
            saturate(6450%) hue-rotate(167deg) brightness(97%) contrast(101%);
        }

        .storm {
          filter: brightness(0) saturate(100%) invert(32%) sepia(6%)
            saturate(1690%) hue-rotate(177deg) brightness(98%) contrast(96%);
        }

        .snow {
          filter: brightness(0) saturate(100%) invert(100%) sepia(8%)
            saturate(350%) hue-rotate(48deg) brightness(97%) contrast(93%);
        }

        .default {
          filter: brightness(0) saturate(100%) invert(78%) sepia(76%)
            saturate(334%) hue-rotate(344deg) brightness(102%) contrast(101%);
        }
      }
    }
  }


@media screen and (min-width: 768px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .day-forecast {
    flex: 1 1 10%;
    min-width: 200px;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
