@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #1e293b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(148, 160, 190);
  background: linear-gradient(180deg, rgb(148, 160, 190) 0%, rgb(188, 214, 215) 50%, rgb(251, 201, 203) 100%);
  margin: 0;
}
body main {
  display: flex;
  justify-content: center;
}
body main .container {
  text-align: center;
}
body main .container .search-button {
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #8d80b0;
  border: none;
  border-radius: 10px;
  transition: background-color ease-in-out 300ms;
}
body main .container .search-button:hover {
  background-color: rgba(141, 128, 176, 0.7607843137);
  transition: background-color ease-in-out 300ms;
}
body main .container h1 {
  font-size: 40px;
  font-weight: 600;
}
body main .container select {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}
body main .container .delete {
  padding: 5px 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #f07167;
  border: none;
  border-radius: 10px;
  transition: background-color ease-in-out 300ms;
}
body main .container .delete:hover {
  background-color: rgba(240, 112, 103, 0.7450980392);
  transition: background-color ease-in-out 300ms;
}
body main .app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .app-header h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: -15px;
}
body main .app-header .img-container {
  height: 230px;
  position: relative;
  margin-top: 3%;
}
body main .app-header .img-container .city-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid #8d80b0;
}
body main .app-header .img-container::after {
  content: " ";
  border: 2px solid #8d80b0;
  display: block;
  box-sizing: border-box;
  height: 220px;
  width: 220px;
  border-radius: 200px;
  position: absolute;
  top: -8px;
  left: -7px;
  -webkit-clip-path: circle(190px at right center);
          clip-path: circle(190px at right center);
}
body .weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .weather-info .day-forecast {
  background: #cceaeb;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .weather-info .day-forecast img {
  width: 3rem;
}
body .weather-info .day-forecast .infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .weather-info .day-forecast .infos .droplet {
  filter: brightness(0) saturate(100%) invert(51%) sepia(96%) saturate(1098%) hue-rotate(182deg) brightness(87%) contrast(86%);
}
body .weather-info .day-forecast .infos .wind {
  filter: brightness(0) saturate(100%) invert(73%) sepia(7%) saturate(272%) hue-rotate(202deg) brightness(87%) contrast(93%);
}
body .weather-info .day-forecast .humidity,
body .weather-info .day-forecast .wind-speed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
body .weather-info .day-forecast .humidity img,
body .weather-info .day-forecast .wind-speed img {
  width: 1.2rem;
}
body .weather-info .day-forecast h3 {
  font-size: 20px;
  font-weight: 500;
}
body .weather-info .day-forecast .temperature {
  font-size: 20px;
  font-weight: 500;
}
body .weather-info .day-forecast .sun {
  filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(493%) hue-rotate(345deg) brightness(105%) contrast(102%);
}
body .weather-info .day-forecast .rain {
  filter: brightness(0) saturate(100%) invert(49%) sepia(55%) saturate(6450%) hue-rotate(167deg) brightness(97%) contrast(101%);
}
body .weather-info .day-forecast .storm {
  filter: brightness(0) saturate(100%) invert(32%) sepia(6%) saturate(1690%) hue-rotate(177deg) brightness(98%) contrast(96%);
}
body .weather-info .day-forecast .snow {
  filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(350%) hue-rotate(48deg) brightness(97%) contrast(93%);
}
body .weather-info .day-forecast .default {
  filter: brightness(0) saturate(100%) invert(78%) sepia(76%) saturate(334%) hue-rotate(344deg) brightness(102%) contrast(101%);
}

@media screen and (min-width: 768px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .day-forecast {
    flex: 1 1 10%;
    min-width: 200px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */